<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/telaEdicaoAluno.css">
    <script src="/js/editaAluno.js" defer></script>
    <title>Editar aluno</title>
</head>

<body onload="atualiza_campos()">
    <div class="title">
        <nav class="subtitle">
            <a href="/logout" class="btn btn-link">Logoff</a>
            <a href="/mostraInformacoes" class="btn btn-link">Informações dos alunos</a>
            <a class="btn btn-link" href="/EditarResponsavel">Editar responsável</a>
        </nav>
    </div>
    <h1>Edição do aluno</h1>
    <div class="form">
        <form action="/editaAluno" method="post" class="form-group" id="form" style="display: block;">
            <label>Aluno</label>
            <select name="rg" id="selectAluno">
                <% data.forEach(function(aluno) { %>
                    <option value="<%= aluno.rg_aluno %>" 
                        data-nome="<%= aluno.nome %>" 
                        data-data="<%= aluno.data_nascimento.toLocaleDateString('pt-br') %>"><%= aluno.rg_aluno + " " + aluno.nome %></option>
                <% }); %>
            </select><br>
            <div id="atualiza" style="display: block;">
                <label>Novo nome*</label>
                <input type="text" name="nome_atualizado" id="nome_atualizado" class="form-control"
                    maxlength="100" autocomplete="off"><br>
                <label>Selecione a categoria</label>
                <select name="categoria" id="selectAluno">
                    <% data1.forEach(function(categoria) { %>
                        <option><%= categoria.nome_categoria %></option>
                    <% }); %>
                </select><br>
                <label>Data de nascimento*</label>
                <input type="date" max="9999-12-31" name="data" id="data_nascimento" class="form-control"/><br>
            </div>
            <label>Deletar aluno</label>
            <input type="checkbox" name="on" id="deletar"/><br>
            <button type="submit" class="btn btn-primary mt-3">Salvar</button>
            <p id="info">Campos com asterisco são obrigatórios</p>
        </form>
    </div>
</body>
</html>