<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/telaInformacoes.css">
    <script src="/js/informacoes.js" defer></script>
    <title>Informações</title>
</head>

<body>
    <div class="title">
        <nav class="subtitle">
            <a href="/logout" class="btn btn-link">Logoff</a>
            <!--{% if usuario["Usuario"] %}-->
                <a class="btn btn-link" href="/telaAjustes">Configurações</a>
                <a href="/cadastro" class="btn btn-link">Cadastrar aluno</a>
                <a href="/editarAluno" class="btn btn-link">Editar aluno</a>
                <a class="btn btn-link" href="/Presenca">Registrar presença</a>
                <a class="btn btn-link" href="/mensalidade">Pagar mensalidade</a>
            <!--{% endif %}-->
            <a class="btn btn-link" href="/HistoricoPresenca">Histórico de presença</a>
            <a class="btn btn-link" href="/HistoricoPagamento">Histórico de pagamento</a>
        </nav>
    </div>
    <h1>Informações dos alunos</h1>
    <input type="text" id="pesquisa" placeholder="Filtrar por nome do aluno" />
    <table class="table" id="table" class="table table-striped table-hover table-bordered">
        <thead>
            <tr>
                <th>RG</th>
                <th>Nome</th>
                <th>Categoria</th>
                <th>Responsável</th>
                <th>Telefone responsável</th>
                <th>Data de nascimento</th>
                <th>Frequência(%)</th>
                <th>Faltas</th>
                <th>Mensalidade</th>
                <th>Data de cadastro</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <% data.forEach(item => { %>
            <tr>
                <td><%= item.elementos.rg_aluno %></td>
                <td><%= item.elementos.nome %></td>
                 <td><%= item.categorias.nome_categoria %></td>
                <td><%= item.responsaveis.nome %></td>
                <td><%= item.responsaveis.telefone %></td>
                <td><%= item.elementos.data_nascimento.toLocaleDateString('pt-br') %></td>
                <td><%= item.elementos.frequencia %></td>
                <td><%= item.elementos.faltas %></td>
                <td td class="status"><%= item.elementos.mensalidade %></td>
                <td><%= item.elementos.data_cadastro.toLocaleDateString('pt-br',{hour:"2-digit",minute:"2-digit",second:"2-digit"}).replace(","," às") %></td>
            </tr>
            <% }); %>
            </tr>
        </tbody>
    </table>
</body>
</html>